.maintitle {
	BORDER-RIGHT: #4444cc 3pt groove; PADDING-RIGHT: 10pt; BORDER-TOP: #4444cc 3pt groove; MARGIN-TOP: 50pt; PADDING-LEFT: 10pt; FONT-SIZE: x-large; PADDING-BOTTOM: 10pt; MARGIN-LEFT: 10%; BORDER-LEFT: #4444cc 3pt groove; COLOR: purple; TEXT-INDENT: 0em; MARGIN-RIGHT: 10%; PADDING-TOP: 10pt; BORDER-BOTTOM: #4444cc 3pt groove; FONT-FAMILY: Arial; TEXT-ALIGN: center
}
H1 {
	BORDER-RIGHT: #4444cc 1pt solid; PADDING-RIGHT: 5pt; BORDER-TOP: #4444cc 1pt solid; MARGIN-TOP: 20pt; PADDING-LEFT: 5pt; FONT-SIZE: x-large; MARGIN-BOTTOM: 10pt; PADDING-BOTTOM: 5pt; BORDER-LEFT: #4444cc 1pt solid; COLOR: #ff0000; PADDING-TOP: 5pt; BORDER-BOTTOM: #4444cc 1pt solid; FONT-FAMILY: Arial; TEXT-ALIGN: center
}
H2 {
	BORDER-RIGHT: #4444cc 0pt solid; BORDER-TOP: #4444cc 0pt solid; MARGIN-TOP: 20pt; FONT-SIZE: x-large; MARGIN-BOTTOM: 10pt; BORDER-LEFT: #4444cc 0pt solid; COLOR: #0000aa; BORDER-BOTTOM: #4444cc 3pt solid; FONT-FAMILY: Arial; TEXT-ALIGN: center
}
H3 {
	MARGIN-TOP: 15pt; FONT-WEIGHT: bold; FONT-SIZE: large; MARGIN-BOTTOM: 10pt; COLOR: #007755; FONT-FAMILY: Arial; TEXT-ALIGN: center
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 110%; MARGIN-LEFT: 70px; COLOR: #000000; MARGIN-RIGHT: 50px; FONT-FAMILY: Arial; TEXT-ALIGN: center; TEXT-DECORATION: underline
}
H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 110%; MARGIN-LEFT: 90px; COLOR: #000000; MARGIN-RIGHT: 50px; FONT-STYLE: italic; FONT-FAMILY: Arial
}
H6 {
	FONT-WEIGHT: normal; FONT-SIZE: 110%; MARGIN-LEFT: 110px; COLOR: #000000; MARGIN-RIGHT: 50px; FONT-STYLE: italic; FONT-FAMILY: Arial
}
P {
	MARGIN-LEFT: 50px; TEXT-INDENT: 2em; MARGIN-RIGHT: 50px; TEXT-ALIGN: justify
}
TH {
	BACKGROUND-COLOR: #99aaff
}
